@model Word
@{
    ViewData["Title"] = "Home Page";
    var currentUser = Context.Request.Cookies["CurrentUser"];
}

<div style="font-family: 'Helvetica', sans-serif; color: white">
    <h3 class="display-4 text-center"><strong>Find New, Impactful Words for Your Resume</strong></h3>
    <center>
        <form asp-controller="Home" asp-action="Revamp">
            <table class="text-center">
                <tr>
                    <td style="font-size: 1.5em; font-weight: bold; color: white">Word: </td>
                    <td><input class="form-control" type="text" id="OriginalWord" name="OriginalWord" placeholder="Ex. Assist, Strong, Use" /></td>
                    <td><input class="btn btn-success" type="submit" value="Submit" /></td>
                </tr>
            </table>
            <hr />
        </form>
    </center>
    <br />
    @if (Model != null && Model.Synonyms != null)
    {
        <table class="table table-bordered table-striped table-sm mx-auto" style="max-width: 25%; margin-right: 20px; border: 1px solid white;">
            <thead>
                <tr>
                    <th style="font-size: 1.5em; font-weight: bold; color: white; background-color: #65B75E;">
                        Synonyms for <em>@Model.OriginalWord</em>:
                        @if (currentUser is not null)
                        {
                            <br />
                            <form id="addFavorite" action="/Words/AddFavoriteWord" method="post">
                                <input type="hidden" id="OriginalWord" name="OriginalWord" onclick="submitForm()" value="@Model.OriginalWord">
                                <input type="hidden" id="Synonyms" name="Synonyms" onclick="submitForm()" value="@Model.Synonyms">
                                <button class="btn btn-primary" type="submit"> Favorite <span style="text-transform: capitalize;">@Model.OriginalWord</span>/Synonyms</button>
                            </form>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var synonym in Model.Synonyms)
                {
                    <tr>
                        <td style="font-size: 1.2em; color: white">
                            @Html.DisplayFor(modelItem => synonym)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <table class="table table-bordered table-striped table-sm mx-auto" style="max-width: 48%; margin-right: 10px; margin-bottom: 150px; border: 1px solid white;">

            <thead>
                <tr>
                    <th style="font-size: 1.5em; font-weight: bold; color: white; background-color: #65B75E;">Definitions for <em>@Model.OriginalWord</em>:</th>
                    <th style="font-size: 1.5em; font-weight: bold; color: white; background-color: #65B75E;">Parts of Speech</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var definition in Model.Definitions)
                {
                    <tr>
                        <td style="font-size: 1.2em; color: white">
                            @Html.DisplayFor(modelItem => definition.DefinitionText)
                        </td>
                        <td style="font-size: 1.2em; color: white">
                            @Html.DisplayFor(modelItem => definition.PartOfSpeech)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No synonyms found. Try another variation (ex. use, used, utilized) or another word.</p>
    }
</div>

<script>
    function submitForm() {
        document.getElementById("addFavorite").submit();
    }
</script>

<style>
    .white-text {
        color: white;
    }
</style>
